.header__logo {
  width: 142px;
  height: 100%;
  justify-self: start;
  background-image: url(../../../images/__logo.svg);
  background-size: contain;
}

@media screen and (min-width: 768px) {
  .header__logo {
    width: 176px;
  }  
}