.intro {
  width: calc(100% - 32px);
  margin: 0 auto 64px auto;
}

@media screen and (min-width: 768px) {
  .intro {
    width: calc(100% - 48px);
    margin: 0 auto 88px auto;
  }
}

@media screen and (min-width: 1024px) {
  .intro {
    max-width: 690px;
    margin: 0 0 92px 48px;
  }
}

@media screen and (min-width: 1280px) {
  .intro {
    margin: 0 0 92px calc((100vw - 984px)/2);
  }
}

