.place {
  width: 100%;
  list-style: none;
  margin: 0 0 50px 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

@media screen and (min-width: 768px) {
  .place {
    margin: 0 0 73px 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px 28px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    margin: 0 0 80px 0;
    gap: 48px 32px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    gap: 48px 40px; 
  }
}